@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300;400&family=Roboto&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
}

body {
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 0;
}

/* header */
.nav-extended .nav-wrapper a {
  font-family: 'Prompt', sans-serif;
}

.nav-extended .nav-wrapper .sidenav-trigger {
  font-family: 'Prompt', sans-serif;
}

.nav-extended .nav-wrapper .brand-logo {
  margin-left: 2%;
}

.nav-wrapper {
  background-color: rgb(40,184,115);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Prompt', sans-serif;
}

a .brand-logo {
  font-family: 'Prompt', sans-serif;
}

p {
  font-family: 'Roboto', sans-serif;
}

/* flashes */
.flashes h4 {
    line-height: 2;
}

/* offers page/ home page */
.search-button button {
  height: 100%;
  padding: 0 4%;
}

.search-button button i {
  margin: 0 auto;
}

.offer-container {
  border: 1px solid black;
  height: 35vh;
  min-height: 25vh;
  margin-top: 1%;
  }

.offer-window {
  padding-top: 4%;
  padding-bottom: 4%;
  padding-left: 0;
  padding-right: 0;
  min-width: 80%;
  height: 62%;
}

.offer-window img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  object-fit: cover;
}

/* business profile */
.business-details {
    padding: 0;
}

.business-details h3 {
  text-decoration: underline;
}

blockquote {
  border-left: 7px solid rgb(40,184,115);
}

.logo-container {
  height: 25vh;
  border: 1px solid black;
}

.logo-container img {
  height: 100%;
  width: 100%;
  overflow: hidden;
  object-fit: cover;
}

.social-media i {
  font-size: 120%;
}

.social-media div {
  border: 1px solid black;
  border-radius: 50%;
  padding: 0%;
  float: right;
}

div .col .social-media-container {
  padding: 4%;
  margin: 8%;
}

.contact-info p {
  font-size: 120%;
}

.contact-info .website .prodServ {
  font-size: 120%;
}

.prodServ p {
  font-size: 120%;
}

/* offer profile */

.price {
  height: 17vh;
}

.offer_description {
  min-height: 17vh;
}

/* star widget codingnepalweb */
.star-widget label{
    font-size: 250%;
    color: #444;
    padding: 10px;
    transition: all 0.2s ease;
    float: right;
  }

input:not(:checked) ~ label:hover,
input:not(:checked) ~ label:hover ~ label{
  color: #fd4;
}

input:checked ~ label{
    color: #fd4;
  }

input#rate-5:checked ~ label{
    color: #fe7;
  }

/* my offers */
.my-offer-container {
  border: 1px solid black;
  height: 100%;
  margin-top: 1%;
  }

.my-offer-window {
  padding-top: 4%;
  padding-bottom: 4%;
  padding-left: 0;
  padding-right: 0;
  min-width: 80%;
  height: 70%;
}

.my-offer-window img {
  width: 100%;
  height: 50vh;
  overflow: hidden;
  object-fit: cover;
}

.my_offers_container p {
  font-size: 105%;
}

.cross-out {
  text-decoration: line-through;
}

.underline :hover {
  text-decoration: underline;
}


.underline {
  text-decoration: underline;
}

.offer_img_container {
  padding-top: 4%;
  padding-bottom: 4%;
  padding-left: 0;
  padding-right: 0;
  min-width: 80%;
  height: 45vh;
}

.offer_img_container img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  object-fit: cover;
}


/* sign up */
input[type="file"] {
  display: none;
}


.image-preview  {
  width: 100%;
  height: 15vh;
  border: 2px solid #dddddd;
  margin-top: 8%;

  /* default text */
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #cccccc;
}

.image-preview__image {
  display: none;
  width: 100%;
  height: 100%;
}