@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300;400&family=Roboto&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 0;
}

.nav-wrapper {
  background-color: rgb(40,184,115);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Prompt', sans-serif;
}

a .brand-logo {
  font-family: 'Prompt', sans-serif;
}

p {
  font-family: 'Roboto', sans-serif;
}
/* main {
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 0;
} */

.flashes h4 {
    line-height: 2;
}


.business-details {
    padding: 0;
}

.business-details h3 {
  text-decoration: underline;
}

blockquote {
  border-left: 7px solid rgb(40,184,115);
}

/* star widget codingnepalweb */

.star-widget label{
    font-size: 40px;
    color: #444;
    padding: 10px;
    float: right;
    transition: all 0.2s ease;
  }

input:not(:checked) ~ label:hover,
input:not(:checked) ~ label:hover ~ label{
  color: #fd4;
}

input:checked ~ label{
    color: #fd4;
  }

input#rate-5:checked ~ label{
    color: #fe7;
  }

  /* .offers-container .grid {
    grid-template-columns: 100px 50px 100px;
    grid-template-rows: 80px auto 80px; 
    column-gap: 10px;
    row-gap: 15px;
  } */

.offer-container {
  border: 1px solid black;
  height: 25vh;
  margin-top: 1%;
  }

.offer-window {
  padding-top: 4%;
  padding-bottom: 4%;
  padding-left: 0;
  padding-right: 0;
  min-width: 80%;
  height: 62%;
}

.offer-window img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  object-fit: cover;
}

.my-offer-container {
  border: 1px solid black;
  height: 40vh;
  margin-top: 1%;
  }

.my-offer-window {
  padding-top: 4%;
  padding-bottom: 4%;
  padding-left: 0;
  padding-right: 0;
  min-width: 80%;
  height: 70%;
}

.my-offer-window img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  object-fit: cover;
}

.cross-out {
  text-decoration: line-through;
}

.underline :hover {
  text-decoration: underline;
}

.logo-container {
  height: 25vh;
  border: 1px solid black;
}

.logo-container img {
  height: 100%;
  width: 100%;
  overflow: hidden;
  object-fit: cover;
}

h4 {
  text-decoration: underline;
}

.social-media i {
  font-size: 120%;
}

.social-media div {
  border: 1px solid black;
  border-radius: 50%;
  padding: 0%;
  float: right;
}

div .col .social-media-container {
  padding: 4%;
  margin: 8%;
}

.contact-info p {
  font-size: 120%;
}

.contact-info .website {
  font-size: 120%;
}