@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 0;
}

/* main {
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 0;
} */

.flashes h4 {
    line-height: 2;
}

.social-media div i {
    border: 1px solid black;
    border-radius: 50%;
    padding: 10%;
}

.logo-container img {
    max-height: 100%;
    max-width: 100%;

}

.business-details {
    padding: 0;

}

/* star widget codingnepalweb */

.star-widget label{
    font-size: 40px;
    color: #444;
    padding: 10px;
    float: right;
    transition: all 0.2s ease;
  }

input:not(:checked) ~ label:hover,
input:not(:checked) ~ label:hover ~ label{
  color: #fd4;
}

input:checked ~ label{
    color: #fd4;
  }

input#rate-5:checked ~ label{
    color: #fe7;
  }

  .offers-container .s12 {
    min-width: 50vw;
    height: 18vw;

  }

  .offers-container .grid {
    grid-template-columns: 100px 50px 100px;
    grid-template-rows: 80px auto 80px; 
    column-gap: 10px;
    row-gap: 15px;
  }

  .grid {
    

  }

  .offer-container {
    border: 1px solid black;
    align-content: space-evenly;    
    justify-content: space-evenly;
    max-width: 30vw;
    height: 30vw;
   }

   .offer-window img {
       min-width: 18vw;
       height: 18vw;
   }



