@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 0;
}

/* main {
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 0;
} */

.flashes h4 {
    line-height: 2;
}

.social-media div i {
    border: 1px solid black;
    border-radius: 50%;
    padding: 10%;
}

.logo-container img {
    max-height: 100%;
    max-width: 100%;

}

.business-details {
    padding: 0;

}

/* star widget codingnepalweb */

