{% extends "base.html" %}
{% block content %}

    <h3 class="center-align">Consumer Sign Up</h3>



    <div class="row">
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('consumer_signup') }}">
            <div class="card-panel">
                <!-- Sign Up name -->
                <div class="row">
					<div class="input-field col s12">
						<i class="fas fa-user-plus prefix light-blue-text text-darken-4"></i>
						<input id="consumer_name" name="consumer_name" type="text" class="validate" required>
						<label for="consumer_name">Your full name</label>
					</div>
                </div>
                <!-- contact number -->
                <div class="row">
					<div class="input-field col s12">
						<i class="fas fa-user-plus prefix light-blue-text text-darken-4"></i>
						<input id="consumer_contact_number" name="consumer_contact_number" type="number" class="validate" required>
						<label for="consumer_contact_number">Contact Number</label>
					</div>
                </div>
                <!-- consumer email address -->
                <div class="row">
					<div class="input-field col s12">
						<i class="fas fa-user-plus prefix light-blue-text text-darken-4"></i>
						<input id="consumer_email_address" name="consumer_email_address" type="email" class="validate" required>
						<label for="consumer_email_address">Email Address</label>
					</div>
                </div>
                <!-- Consumer Address Line 1 -->
                <div class="row">
					<div class="input-field col s12">
						<i class="fas fa-user-plus prefix light-blue-text text-darken-4"></i>
						<input id="consumer_address_line_1" name="consumer_address_line_1" type="text" class="validate">
						<label for="consumer_address_line_1">Consumer Address Line 1</label>
					</div>
                </div>
                <!-- Consumer Address Line 2 -->
                <div class="row">
					<div class="input-field col s12">
						<i class="fas fa-user-plus prefix light-blue-text text-darken-4"></i>
						<input id="consumer_address_line_2" name="consumer_address_line_2" type="text" class="validate">
						<label for="consumer_address_line_2">Consumer Address Line 2</label>
					</div>
                </div>
                <!-- Consumer Address Line 3 -->
                <div class="row">
					<div class="input-field col s12">
						<i class="fas fa-user-plus prefix light-blue-text text-darken-4"></i>
						<input id="consumer_address_line_3" name="consumer_address_line_3" type="text" class="validate">
						<label for="consumer_address_line_3">Consumer Address Line 3</label>
					</div>
                </div>
                <!-- Consumer DOB -->
                <div class="row">
					<div class="input-field col s12">
						<i class="fas fa-user-plus prefix light-blue-text text-darken-4"></i>
						<input id="consumer_dob" name="consumer_dob" type="text" class="validate">
						<label for="consumer_dob">Your Date of Birth</label>
					</div>
                </div>
                <!-- password -->
                <div class="row">
                    <div class="input-field col s12">
						<i class="fas fa-user-lock prefix light-blue-text text-darken-4"></i>
                        <input id="consumer_password" name="consumer_password" type="password" minlength="5"
                            maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                        <label for="consumer_password">Password</label>
                    </div>
                </div>
                <!-- register -->
                <div class="row">
                    <button type="submit" class="col s12 btn-large light-blue darken-4 text-shadow">
                        Register <i class="fas fa-sign-in-alt"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}