{% extends "base.html" %}
{% block content %}

<h3 class="center-align">Create your Offer!</h3>

<div class="row card-panel grey lighten-5">
    <form class="col s12" method="POST" enctype="multipart/form-data" action="{{ url_for('create_offer') }}">
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-pencil-alt prefix text-darken-4"></i>
                <input id="offer_name" name="offer_name" minlength="5" maxlength="50"
                    type="text" class="validate" required>
                <label for="offer_name">Offer Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12 m6">
                <i class="fas fa-folder-open prefix text-darken-4"></i>
                <select id="offer_type" name="offer_type" class="validate" required>
                    <option value="" disabled selected>Product / Service</option>
                    <option value="product">Product</option>
                    <option value="service">Service</option>
                </select>
                <label for="offer_type">Product / Service</label>
            </div>
            <div class="input-field col s12 m6">
                <i class="fas fa-search prefix text-darken-4"></i>
                <input id="offer_category" name="offer_category" type="text" class="validate" required>
                <label for="offer_category">Offer Category (What you want offer to show up under)</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-align-left prefix text-darken-4"></i>
                <textarea id="offer_description" name="offer_description" minlength="5"
                    maxlength="200" class="materialize-textarea validate" required></textarea>
                <label for="offer_description">Offer Description</label>
            </div>
        </div>
        <!-- prices -->
        <div class="row">
            <div class="input-field col s12 m6">
                <i class="fas fa-euro-sign prefix text-darken-4"></i>
                <input id="old_price" name="old_price" type="number" class="validate" required>
                <label for="old_price">Old Price</label>
            </div>
            <div class="input-field col s12 m6">
                <i class="fas fa-euro-sign prefix text-darken-4"></i>
                <input id="offer_price" name="offer_price" type="number" class="validate" required>
                <label for="offer_price">Current Price</label>
            </div>
        </div>
        <!-- offer img -->
        <div class="row">
			<h6>Offer Image is required to create an offer.</h6>
            <div class="input-field col s12 l6">
                <i class="fas fa-image prefix text-darken-4"></i>
                <input id="offer_img" name="offer_img" type="file" class="validate">
				<label for="offer_img">Add Image (required)</label>
            </div>
            <div class="image-preview col s12 m8 l3 pull-l4" id="imagePreview">
                <img src="" alt="Image Preview" class="image-preview__image">
                <span class="image-preview__default-text">Image Preview</span>
            </div>
        </div>
        <br>
        <!-- submit button -->
        <div class="row register">
            <div class="col s12 center-align">
                <button type="submit" class="btn-large darken-1 text-shadow">
                    Create Offer <i class="fas fa-plus-square right"></i>
                </button>
            </div>
        </div>
    </form>
</div>


{% endblock %}