{% extends "base.html" %}
{% block content %}

<h3 class="center-align">Create your Offer!</h3>

<div class="row card-panel grey lighten-5">
    <form class="col s12" method="POST" action="{{ url_for('create_offer') }}">
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4"></i>
                <input id="offer_name" name="offer_name" minlength="5" maxlength="50"
                    type="text" class="validate" required>
                <label for="offer_name">Offer Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-folder-open prefix light-blue-text text-darken-4"></i>
                <select id="offer_type" name="offer_type" class="validate" required>
                    <option value="" disabled selected>Product / Service</option>
                    <option value="product">Product</option>
                    <option value="service">Service</option>
                </select>
                <label for="offer_type">Product / Service</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-align-left prefix light-blue-text text-darken-4"></i>
                <textarea id="offer_description" name="offer_description" minlength="5"
                    maxlength="200" class="materialize-textarea validate" required></textarea>
                <label for="offer_description">Offer Description</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-align-left prefix light-blue-text text-darken-4"></i>
                <input id="offer_price" name="offer_price" type="number" class="validate" required>
                <label for="offer_price">Price</label>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <input id="offer_img" name="offer_img" type="file" class="validate">
                <label for="offer_img">Add Image</label>
            </div>
        </div>
        <!-- submit button -->
        <div class="row">
            <div class="col s12 center-align">
                <button type="submit" class="btn-large light-blue darken-1 text-shadow">
                    Create Offer <i class="fas fa-plus-square right"></i>
                </button>
            </div>
        </div>
    </form>
</div>


{% endblock %}