{% extends "base.html" %}
{% block content %}

    <h3 class="center-align">Login</h3>

    
    <div class="row">
        <!-- business login -->
        <form class="col s12 l6" method="POST" enctype="multipart/form-data" action="{{ url_for('login') }}">
            <div class="card-panel">
                <!-- business email address -->
                <h4>Business Login</h4>
                <div class="row">
					<div class="input-field col s12">
						<i class="fas fa-user-plus prefix light-blue-text text-darken-4"></i>
						<input id="business_name" name="business_name" type="text" class="validate">
						<label for="business_name">Business Name</label>
					</div>
                </div>
                <!-- password -->
                <div class="row">
                    <div class="input-field col s12">
						<i class="fas fa-user-lock prefix light-blue-text text-darken-4"></i>
                        <input id="password" name="password" type="password" class="validate">
                        <label for="password">Password</label>
                    </div>
                </div>
                <!-- login -->
                <div class="row">
                    <button type="submit" class="col s12 btn-large light-blue darken-4 text-shadow">
                        Login <i class="fas fa-sign-in-alt"></i>
                    </button>
                </div>
            </div>
        </form>

        <!-- consumer login -->
        <form class="col s12 l6" method="POST" enctype="multipart/form-data" action="{{ url_for('consumer_login') }}">
            <div class="card-panel">
                <!-- business email address -->
                <h4>Consumer Login</h4>
                <div class="row">
					<div class="input-field col s12">
						<i class="fas fa-user-plus prefix light-blue-text text-darken-4"></i>
						<input id="consumer_email_address" name="consumer_email_address" type="email" class="validate">
						<label for="consumer_email_address">Consumer Email</label>
					</div>
                </div>
                <!-- password -->
                <div class="row">
                    <div class="input-field col s12">
						<i class="fas fa-user-lock prefix light-blue-text text-darken-4"></i>
                        <input id="consumer_password" name="consumer_password" type="password" class="validate">
                        <label for="consumer_password">Password</label>
                    </div>
                </div>
                <!-- login -->
                <div class="row">
                    <button type="submit" class="col s12 btn-large light-blue darken-4 text-shadow">
                        Login <i class="fas fa-sign-in-alt"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

	<div class="row">
		<div class="col s12">
			<p class="center-align">
				New Here? <a href="{{ url_for('signup') }}" class="light-blue-text text-darken-4">Sign Up Today</a>
			</p>
		</div>
	</div>

{% endblock %}