{% extends "base.html" %}
{% block content %}

    <div class="row">
        <div class="col s12">
            <div class="card-panel green-head">
                <h3 class="center-align text-darken-4">
                    {{ business_name }}'s Offers
                </h3>
                <div class="my_offers_container">
                    <div class="row grid">
                    {% for offer in offers %}
                        {% if session.user|lower == offer.created_by|lower %}
                            <div class="col s12 my-offer-container">
                                <div class="my-offer-window">
                                    <img src="{{ url_for('file', filename=offer['offer_img'] )}}">
                                </div>
                                <p class="underline">
                                    <strong><a href="{{ url_for('offer', offer_id=offer._id, reviews=reviews, consumer_users=consumer_users) }}">{{ offer.offer_name }}</a></strong>
                                </p>
                                <p>{{ offer.offer_type.capitalize() }}</p>
                                <p>{{ offer.offer_description }}</p>
                                <p>Old Price: <span class="cross-out">{{ offer.old_price }}</span></p>
                                <p>Current Price: {{ offer.offer_price }}</p>                          
                            </div>        
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

	

{% endblock %}