{% extends "base.html" %}
{% block content %}

    <div class="row">
        <div class="col s12 m8 offset-m2 card-panel">
            <!-- business profile card -->
            <div class="card-panel">
                
                <h3 class="center-align light-blue-text text-darken-4">
                    {{ offer.created_by }}<br>
                </h3>
                    <div class="profile"><a href="{{ url_for('business_profile', business_name=offer.created_by, business_users=business_users ) }}"><i class="fas fa-user"></i></a></div>
                    <div class="call"><i class="fas fa-phone-alt"></i></div>
                    <div class="email"><i class="fas fa-envelope"></i></div>

            </div>
            <!-- offer details -->
            <div class="card-panel">
                <div class="offer_img_container card-panel">
                    <div class="col s8">
                        <img src="{{ url_for('file', filename=offer['offer_img'] )}}">
                    </div>
                </div>
                <div class="offer_name">
                    <div class="col s8 card-panel">
                        <h5>{{ offer.offer_name }}</h5>
                    </div>
                </div>
                <div class="overrall_offer_reviews card-panel">
                    <div class="col s8">
                        <h5></h5>
                    </div>
                </div>
                <div class="offer_description card-panel">
                    <h6>{{ offer.offer_type }} Description</h6>
                    <p>{{ offer.offer_description }}</p>
                </div>
                <div class="price card-panel">
                    <div class="old-price">
                        {{ offer.old_price }}
                    </div>
                    <div class="current-price">
                        {{ offer.offer_price }}
                    </div>
                </div>
            </div>
            <!-- reviews -->
            <div class="offer-reviews card-panel">
                <h5>Reviews</h5>
            </div>
            <form class="col s12" method="POST" enctype="multipart/form-data" action="{{ url_for('create_review', offer_id=offer._id, reviews=reviews) }}">

                <div class="star-widget">
                    <input type="radio" name="rate" id="rate-5" value="5" required>
                    <label for="rate-5" class="fas fa-star"></label>
                    <input type="radio" name="rate" id="rate-4" value="4" required>
                    <label for="rate-4" class="fas fa-star"></label>
                    <input type="radio" name="rate" id="rate-3" value="3" required>
                    <label for="rate-3" class="fas fa-star"></label>
                    <input type="radio" name="rate" id="rate-2" value="2" required> 
                    <label for="rate-2" class="fas fa-star"></label>
                    <input type="radio" name="rate" id="rate-1" value="1" required>
                    <label for="rate-1" class="fas fa-star"></label>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                    <textarea id="consumer_review" name="consumer_review" class="materialize-textarea" data-length="200"></textarea>
                    <label for="consumer_review">Your Review</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 center-align">
                        <button type="submit" class="btn-large light-blue darken-1 text-shadow">
                            Submit Review <i class="fas fa-plus-square right"></i>
                        </button>
                    </div>
                </div>
            </form>
            {% for review in reviews %}
                {% if offer._id == review.offer_id %}
                    <div class="row">
                        <div class="col s12 center-align card-panel">
                        {{ review.created_by }} <br>
                        {{ review.offer_id }} <br>
                        {{ review.rate }} <br>
                        {{ review.consumer_review }} <br>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>

	

{% endblock %}