{% extends "base.html" %}
{% block content %}

    <div class="row">
        <div class="col s12 m8 offset-m2 card-panel">
            <div class="card-panel">
                
                <h3 class="center-align light-blue-text text-darken-4">
                    {{ offer.created_by }}<br>
                </h3>
                    <div class="profile"><a href="{{ url_for('business_profile', business_name=offer.created_by, business_users=business_users ) }}"><i class="fas fa-user"></i></a></div>
                    <div class="call"><i class="fas fa-phone-alt"></i></div>
                    <div class="email"><i class="fas fa-envelope"></i></div>

            </div>
            <div class="card-panel">
                <div class="offer_img_container card-panel">
                    <div class="col s8">
                        <img src="{{ url_for('file', filename=offer['offer_img'] )}}">
                    </div>
                </div>
                <div class="offer_name">
                    <div class="col s8 card-panel">
                        <h5>{{ offer.offer_name }}</h5>
                    </div>
                </div>
                <div class="overrall_offer_reviews card-panel">
                    <div class="col s8">
                        <h5></h5>
                    </div>
                </div>
                <div class="offer_description card-panel">
                    <h6>{{ offer.offer_type }} Description</h6>
                    <p>{{ offer.offer_description }}</p>
                </div>
                <div class="price card-panel">
                    <div class="old-price">
                        {{ offer.old_price }}
                    </div>
                    <div class="current-price">
                        {{ offer.offer_price }}
                    </div>
                </div>
                <div class="offer-reviews card-panel">
                    <h5>Reviews</h5>
                </div>

                </div>
            </div>
        </form>
    </div>

	

{% endblock %}