{% extends "base.html" %}
{% block content %}

    <div class="row">
        <div class="col s12 m8 offset-m2">
            <div class="card-panel">
                <h3 class="center-align light-blue-text text-darken-4">
                    {{ business_name }}'s Profile
                </h3>
                <div class="">
                {% for business_user in business_users %}
                    {{ business_user.signers_name }}<br>
                    {{ business_user.industry }}<br>
                    {{ business_user.business_address_line_1 }}<br>
                    {{ business_user.business_address_line_2 }}<br>
                    {{ business_user.business_address_line_3 }}<br>
                    {{ business_user.business_contact_number }}<br>
                    {{ business_user.business_email_address }}<br>
                    {{ business_user.facebook }}<br>
                    {{ business_user.instagram }}<br>
                    {{ business_user.twitter }}<br>
                    {{ business_user.website_url }}<br>
                    {{ business_user.logo_img }}<br>
                {% endfor %}
                </div>
            </div>
        </form>
    </div>

	

{% endblock %}