{% extends "base.html" %}
{% block content %}

    <h3 class="center-align">Are you ...</h3>
    
    <div class="card-panel">
        <!-- business sign up -->
        <div class="row">
            <div class="col s8 m8 l8">
                <a href="{{ url_for('business_signup') }}">Looking for Business?</a>
            </div>
        </div>

        <!-- consumer sign up -->
        <div class="row">
            <div class="col s8 m8 l8">
                <a href="{{ url_for('consumer_signup') }}">Looking for Deals?</a>
            </div>
        </div>
        
        <div class="row">
            <div class="col s8 m8 l8">
                Already a User? <a href="{{ url_for('login') }}">Log In</a>
            </div>
        </div>
    </div>

{% endblock %}