{% extends "base.html" %}
{% block content %}

    <h3 class="center-align">Are you ...</h3>
    
    <div class="card-panel">
        <!-- business sign up -->
        <div class="card-panel">
            <div class="row">
                <div class="col s8">
                    <a href="{{ url_for('business_signup') }}">Looking for more Business?</a>
                </div>
            </div>
        </div>
        <!-- consumer sign up -->
        <div class="card-panel">
            <div class="row">
                <div class="col s8">
                    <a href="{{ url_for('consumer_signup') }}">Looking for better Deals?</a>
                </div>
            </div>
        </div>
        <div class="card-panel">
            <div class="row">
                <div class="col s8">
                    Already a User? <a href="{{ url_for('login') }}">Log In</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}